<div class="gmhub-reveal-menu">
  <p>{{localize "GMHUB.Dialog.RevealMenu.Body"}}</p>

  {{#if loading}}
    <p><em>{{localize "GMHUB.PickSession.Loading"}}</em></p>
  {{else if error}}
    <p class="gmhub-error">{{error}}</p>
  {{else if empty}}
    <p><em>{{localize "GMHUB.Dialog.RevealMenu.Empty"}}</em></p>
  {{else}}
    {{#if anyUnmapped}}
      <p class="gmhub-warn">{{localize "GMHUB.Dialog.RevealMenu.RequiresMapping"}}</p>
    {{/if}}
    <ul class="gmhub-reveal-list">
      {{#each rows}}
        <li>
          <label>
            <input type="checkbox" data-action="toggle" data-user-id="{{this.user_id}}" {{#if this.checked}}checked{{/if}}>
            <span class="gmhub-reveal-name">{{this.display_name}}</span>
            {{#if this.unmapped}}
              <span class="gmhub-reveal-warning" title="{{localize 'GMHUB.Dialog.RevealMenu.RequiresMapping'}}"><i class="fas fa-exclamation-triangle"></i></span>
            {{/if}}
          </label>
        </li>
      {{/each}}
    </ul>
    <footer class="gmhub-reveal-footer">
      <div class="gmhub-reveal-bulk">
        <button type="button" data-action="select-all" {{#if pending}}disabled{{/if}}>
          {{localize "GMHUB.Button.SelectAll"}}
        </button>
        <button type="button" data-action="clear-all" {{#if pending}}disabled{{/if}}>
          {{localize "GMHUB.Button.ClearAll"}}
        </button>
      </div>
      <div class="gmhub-reveal-actions">
        <button type="button" data-action="cancel" {{#if pending}}disabled{{/if}}>
          {{localize "GMHUB.Button.Cancel"}}
        </button>
        <button type="button" data-action="save" {{#if pending}}disabled{{/if}}>
          <i class="fas fa-save"></i> {{localize "GMHUB.Button.Save"}}
        </button>
      </div>
    </footer>
  {{/if}}
</div>
